{{ define "page_abreviatures" }}
  <article class="abreviatures">
    <h1>Símbols, sigles i abreviatures utilitzats en el diccionari</h1>
    <h2 id="simbols">Símbols:</h2>
    <table class="simbols">
      <tr>
        <td>*</td>
        <td>Definició o exemple que no prové de cap obra lexicogràfica, en combinació amb algun altre que està documentat</td>
      </tr>
      <tr>
        <td>&#x25A0;</td>
        <td>Expressió lexicalitzada respecte a la qual no s'ha trobat cap mena d'informació a les obres lexicogràfiques consultades</td>
      </tr>
      <tr>
        <td>&#x2192;</td>
        <td>Expressions lexicalitzades relacionades amb la frase feta d'entrada per sinonímia</td>
      </tr>
      <tr>
        <td>&#x25B7;</td>
        <td>Expressions lexicalitzades relacionades amb la frase feta d'entrada per variant de forma, antonímia, inversió argumental i extensió semàntica</td>
      </tr>
      <tr>
        <td>&#x2022;</td>
        <td>Expressions lexicalitzades que són variants dialectals respecte a l'expressió d'entrada</td>
      </tr>
      <tr>
        <td>( )</td>
        <td>
          S'usen els parèntesis per a indicar:<br>
          a) les notes d'ús,<br>
          b) els arguments, en la forma d'entrada de les expressions lexicalitzades i, de vegades també en les definicions,<br>
          c) la relació lèxica (amb abreviatura) que hi ha entre determinades locucions i la locució d'entrada,<br>
          d) la categoria sintàctica (abreujada) d'un concepte, en els casos en què cal distingir entre conceptes homònims,<br>
          e) la informació afegida a les definicions o exemples amb font, i<br>
          f) la font de la informació referent al marcatge dialectal de l'expressió d'entrada.
        </td>
      </tr>
      <tr>
        <td>[ ]</td>
        <td>
          S'usen els claudàtors per a indicar:<br>
          a) la informació que se suprimeix de la definició o exemple d'una font lexicogràfica,<br>
          b) la transcripció fonètica,<br>
          c) la informació referent a la font de les variants dialectals, i<br>
          d) la informació referent al marcatge dialectal d'una expressió, així com a la seva naturalesa morfològica o a altres aspectes lèxics específics.
        </td>
      </tr>
    </table>
    <h2 id="fonts-lexicografiques">Sigles corresponents a fonts lexicogràfiques:</h2>
    <table class="fonts">
      <tr>
        <td>(A-M):</td>
        <td>Alcover, A. M. - F. de B. Moll, <em>Diccionari Català-Valencià-Balear</em>, 10 vols., Editorial Moll, Palma de Mallorca, 1980-1988.</td>
      </tr>
      <tr>
        <td>(B):</td>
        <td>Balbastre, J., <em>Nou Recull de Modismes i Frases Fetes. Català-castellà / castellà-català</em>, Editorial Pòrtic, Barcelona.</td>
      </tr>
      <tr>
        <td>(EC):</td>
        <td>Enciclopèdia Catalana, <em>Diccionari de la Llengua Catalana</em>, Barcelona, 1982, tercera edició ampliada i actualitzada de 1993.<br>
          Enciclopèdia Catalana, <em>Gran Diccionari de la Llengua Catalana</em>, Barcelona, 1998.<br>Enciclopèdia Catalana, <em>Diccionari Castellà-Català</em>, Barcelona, 1985, segona edició de 1989.</td>
      </tr>
      <tr>
        <td>(ECe):</td>
        <td>Enciclopèdia Catalana i Universitat Politècnica de Catalunya, <em>Diccionari d'Economia i Gestió</em>, Barcelona, 2001.</td>
      </tr>
      <tr>
        <td>(F):</td>
        <td>Fabra, P., <em>Diccionari General de la Llengua Catalana</em>, Edhasa, Barcelona, 1932, vint-i-vuitena edició de 1992.</td>
      </tr>
      <tr>
        <td>(Fr):</td>
        <td>
          Franquesa, M., <em>Diccionari de Sinònims</em>, Pòrtic, Barcelona, 1971, sisena edició de 1991.<br>
          Franquesa, M., <em>Diccionari de Sinònims</em>, Enciclopèdia Catalana, Barcelona, 1998. </td>
      </tr>
      <tr>
        <td>(GEC):</td>
        <td><em>Gran Enciclopèdia Catalana</em>, 15 volums, Barcelona, 1970-1980.</td>
      </tr>
      <tr>
        <td>(DIEC1):</td>
        <td>Institut d'Estudis Catalans, <em>Diccionari de la Llengua Catalana</em>, Edicions 3i4, Edicions 62, Ed. Moll, Barcelona, 1995.</td>
      </tr>
      <tr>
        <td>(P):</td>
        <td>Peris, A., <em>Diccionari de Locucions i Frases Llatines</em>, Enciclopèdia Catalana, El Calidoscopi, Barcelona, 2001.</td>
      </tr>
      <tr>
        <td>(PDL):</td>
        <td>Institut d'Estudis Catalans, <em>Portal de Dades Lingüístiques</em>. http://pdl.iecat.net</td>
      </tr>
      <tr>
        <td>(R-M):</td>
        <td>
          Raspall, J. - J. Martí, <em>Diccionari de Locucions i de Frases Fetes</em>, Edicions 62, Barcelona, 1984, quarta edició de 1989.<br>
          Raspall, J. - J. Martí, <em>Diccionari de Locucions i de Frases Fetes</em>, Edicions 62, Barcelona, 1996, segona edició de 1997.</td>
      </tr>
      <tr>
        <td>(R):</td>
        <td>Riera Jaume, A., <em>Així Xerram a Mallorca</em>, Hora Nova, Mallorca, 1999.</td>
      </tr>
      <tr>
        <td>(SP):</td>
        <td>Perramón, S., <em>Proverbis, Dites i Frases Fetes de la Llengua Catalana</em>, Ed. Millà, Barcelona, 1979.</td>
      </tr>
      <tr>
        <td>(T):</td>
        <td>Termcat. <a href="https://www.termcat.cat/ca/cercaterm">https://www.termcat.cat/ca/cercaterm</a></td>
      </tr>
    </table>
    <h2 id="altres">Abreviatures de categories gramaticals, relacions semàntiques i altres:</h2>
    <div>
      <div class="row">
        <div class="col-sm">
          <table class="categories">
            <tr>
              <td>adj.</td>
              <td>adjectiu</td>
            </tr>
            <tr>
              <td>adv.</td>
              <td>adverbi</td>
            </tr>
            <tr>
              <td>ant.</td>
              <td>antonímia</td>
            </tr>
            <tr>
              <td>ANT</td>
              <td>valor antònim del concepte</td>
            </tr>
            <tr>
              <td>aprox.</td>
              <td>aproximadament</td>
            </tr>
            <tr>
              <td>conj.</td>
              <td>conjunció</td>
            </tr>
            <tr>
              <td>esp.</td>
              <td>especialment</td>
            </tr>
            <tr>
              <td>etc.</td>
              <td>etcètera</td>
            </tr>
            <tr>
              <td>euf.</td>
              <td>eufemisme</td>
            </tr>
            <tr>
              <td>f.</td>
              <td>[substantiu] femení</td>
            </tr>
            <tr>
              <td>fam.</td>
              <td>familiar, familiarment</td>
            </tr>
            <tr>
              <td>fig.</td>
              <td>valor figurat del concepte</td>
            </tr>
            <tr>
              <td>interj.</td>
              <td>interjecció</td>
            </tr>
            <tr>
              <td>inv.</td>
              <td>inversió</td>
            </tr>
            <tr>
              <td>iròn.</td>
              <td>[emprat] irònicament</td>
            </tr>
            <tr>
              <td>m.</td>
              <td>[substantiu] masculí</td>
            </tr>
            <tr>
              <td>met.</td>
              <td>metàfora, metafòric</td>
            </tr>
            <tr>
              <td>O</td>
              <td>oració</td>
            </tr>
          </table>
        </div>
        <div class="col-sm">
          <table class="categories">
            <tr>
              <td>per ex.</td>
              <td>per exemple</td>
            </tr>
            <tr>
              <td>p.ext.</td>
              <td>per extensió</td>
            </tr>
            <tr>
              <td>pop.</td>
              <td>[cançó] popular</td>
            </tr>
            <tr>
              <td>prep.</td>
              <td>preposició</td>
            </tr>
            <tr>
              <td>pron.</td>
              <td>pronom</td>
            </tr>
            <tr>
              <td>SA</td>
              <td>sintagma adjectival</td>
            </tr>
            <tr>
              <td>SAdv</td>
              <td>sintagma adverbial</td>
            </tr>
            <tr>
              <td>SConj</td>
              <td>sintagma conjuntiu</td>
            </tr>
            <tr>
              <td>SCoord</td>
              <td>sintagma coordinat</td>
            </tr>
            <tr>
              <td>SD</td>
              <td>sintagma determinant</td>
            </tr>
            <tr>
              <td>SN</td>
              <td>sintagma nominal</td>
            </tr>
            <tr>
              <td>SP</td>
              <td>sintagma preposicional</td>
            </tr>
            <tr>
              <td>SQ</td>
              <td>sintagma quantificador</td>
            </tr>
            <tr>
              <td>SV</td>
              <td>sintagma verbal</td>
            </tr>
            <tr>
              <td>v.</td>
              <td>verb</td>
            </tr>
            <tr>
              <td>v.f.</td>
              <td>variant formal</td>
            </tr>
            <tr>
              <td>v. intr.</td>
              <td>verb intransitiu</td>
            </tr>
            <tr>
              <td>v. tr.</td>
              <td>verb transitiu</td>
            </tr>
            <tr>
              <td>vg.</td>
              <td>vegeu</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </article>
{{ end }}
