{{ define "page_credits" }}
  <article>
    <h1>Crèdits</h1>
    <p>La publicació del DSFF va comptar amb la col·laboració de la Conselleria d'Educació i Cultura del Govern de les Illes Balears i del Departament de la Presidència de la Generalitat de Catalunya.</p>
    <p>© dels continguts, M.Teresa Espinal, 2004, 2006, 2018, 2025<br>
      © de l'edició impresa, Servei de Publicacions de la Universitat Autònoma de Barcelona, Publicacions de la Universitat de València, Publicacions de l'Abadia de Montserrat</p>
    <p>Aquesta versió electrònica en línia del DSFF ha estat desenvolupada per <a href="//orga.cat">Pere Orga</a> (2018, 2025), a partir d'una obra disponible a <a href="https://publicacions.uab.cat/llibres/diccionari-sinonims-frases-fetes">publicacions.uab.cat</a>.</p>
    <p>Aquesta web està allotjada als servidors del Servei de Publicacions de la UAB.</p>
    <p>L'edició electrònica en línia del DSFF està sota la llicència <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.ca">Creative Commons Atribució-NoComercial-CompartirIgual 4.0 Internacional</a>. El <a href="https://github.com/pereorga/dsff">codi font</a> de la pàgina es distribueix amb la llicència <a href="https://www.gnu.org/licenses/agpl-3.0.ca.html">AGPL-3.0</a>.</p>
    <p><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.ca"><img src="/by-nc-sa.svg" alt="Llicència Creative Commons Atribució-NoComercial-CompartirIgual" width="120" height="42"></a></p>
  </article>
{{ end }}
