{{ define "page_presentacio" }}
  <article>
    <h1>Presentació</h1>
    <p>El <em>Diccionari de Sinònims de Frases Fetes</em> (a partir d'ara DSFF) és un diccionari que relaciona conceptes amb expressions lexicalitzades de naturalesa gramatical diversa, allò que en la gramàtica tradicional s'han anomenat genèricament <em>locucions i frases fetes</em>. Per a cada expressió es proporciona informació gramatical i lingüística diversa. També s'indiquen relacions de significat amb altres expressions lexicalitzades.</p>
    <p>Aquesta és la segona versió electrònica en línia del DSFF (primera edició 2018), que incorpora una profunda revisió i actualització de l'obra impresa (primera edició 2004, segona edició 2006). Un 54% dels registres inicials han estat revisats i millorats. Aquesta versió també conté una ampliació significativa de conceptes i d'unitats lexicalitzades: 5.800 entrades conceptuals, 19.600 expressions lexicalitzades i 23.200 registres distints, i és el diccionari de frases fetes més complet de la llengua catalana.</p>
    <p>Agraeixo la col·laboració de totes les persones que m'han ajudat en aquesta fase, molt especialment, Maria Coll Amengual i Pere Orga.</p>
    <p>Per a més informació, vegeu <a href="/coneix">coneix el diccionari</a> i els <a href="/credits">crèdits</a>.</p>
  </article>
{{ end }}
