<!DOCTYPE html>
<html lang="ca">
<head>
  <meta charset="utf-8">
  <title>{{.Title}} | DSFF</title>
  <meta name="description" content="Diccionari de Sinònims de Frases Fetes (DSFF), de M.Teresa Espinal">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#760c28">
  <link rel="stylesheet" href="/main.min.css">
  {{- if .CanonicalURL -}}
    <link rel="canonical" href="{{ .CanonicalURL }}">
  {{- end -}}
  <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="DSFF">
  <script async data-domain="dsff.uab.cat" src="https://statistics.precarietat.net/js/script.js"></script>
</head>
<body class="bg-light">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <div class="text-light"><a href="/" class="navbar-brand">Diccionari de sinònims de frases fetes</a><div>M.Teresa Espinal</div></div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-label="Desplega el menú">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse">
        <div class="navbar-nav">
          {{- if not .IsHomepage -}}
            <a class="nav-item nav-link" href="/">Cerca</a>
          {{- end -}}
          <a class="nav-item nav-link" href="/presentacio">Presentació</a>
          <a class="nav-item nav-link" href="/coneix">Coneix el diccionari</a>
          <a class="nav-item nav-link" href="/abreviatures">Abreviatures</a>
          <a class="nav-item nav-link" href="/credits">Crèdits</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="container py-4 mt-md-3 mb-md-5">
    {{- if .IsPresentacioPage -}}
      {{ template "page_presentacio" . }}
    {{- else if .IsConeixPage -}}
      {{ template "page_coneix" . }}
    {{- else if .IsAbreviaturesPage -}}
      {{ template "page_abreviatures" . }}
    {{- else if .IsLetterPage -}}
      <h1>{{ .Letter }}</h1>
      {{ .LetterHTML }}
    {{- else if .IsConceptPage -}}
      <article class="entry concepte">
        <h1 class="concepte">{{ .Concept }}</h1>
        {{ .PhrasesHTML }}
      </article>
    {{- else if .IsCreditsPage -}}
      {{ template "page_credits" . }}
    {{- else -}}
      <h1 class="d-none">Cerca</h1>
      <div class="search-section">
        <label for="cerca-concepte">Cerca per concepte</label>
        <div class="form-row">
          <div class="form-group col-md-4">
            <select id="cerca-concepte" class="form-control custom-select"><option>Introduïu un concepte</option></select>
          </div>
        </div>
      </div>
      <div class="search-section">
        <form action="/" method="get">
          <label for="frase">Cerca per frase feta</label>
          <div class="form-row">
            <div class="form-group col-md-2">
              <select id="mode" name="mode" aria-label="Mode de cerca" class="form-control custom-select">
              {{- range $mode := .SearchModes -}}
                <option{{ if eq $mode $.SearchMode }} selected{{end}}>
                  {{- $mode -}}
                </option>
              {{- end -}}
              </select>
            </div>
            <div class="form-group col-md-5">
              <input type="search" class="form-control" id="frase" name="frase" autocapitalize="off" autocomplete="off"
                     placeholder="Introduïu una frase o part d'una frase" value="{{.SearchQuery}}">
            </div>
            <div class="form-group col-md-1">
              <button type="submit" class="btn btn-primary">Cerca</button>
            </div>
          </div>
        </form>
      </div>
      {{- if .SearchQuery -}}
        {{- if .PhrasesHTML -}}
          {{.PhrasesHTML}}
          {{- if gt .TotalPages 1 -}}
            <ul class="pagination">
              {{- if .PreviousPage -}}
                <li><a href="/?mode={{.SearchMode}}&frase={{.SearchQuery}}&pagina={{.PreviousPage}}" title="Pàgina anterior" rel="prev nofollow">&laquo;</a></li>
              {{- end -}}
              <li><span>Pàgina {{.CurrentPage}} de {{.TotalPages}}</span></li>
              {{- if .NextPage -}}
                <li><a href="/?mode={{.SearchMode}}&frase={{.SearchQuery}}&pagina={{.NextPage}}" title="Pàgina següent" rel="next nofollow">&raquo;</a></li>
              {{- end -}}
            </ul>
          {{- end -}}
        {{- else -}}
          <div class="alert alert-secondary mb-4" role="alert">
            No s'ha trobat cap resultat.
          </div>
        {{- end -}}
      {{- end -}}
      {{- if not .PhrasesHTML -}}
        <div class="search-section">
          <label>Llista de conceptes</label>
          <div class="letters">
            <a href="/lletra/A">A</a> <a href="/lletra/B">B</a> <a href="/lletra/C">C</a> <a href="/lletra/D">D</a> <a href="/lletra/E">E</a> <a href="/lletra/F">F</a> <a href="/lletra/G">G</a> <a href="/lletra/H">H</a> <a href="/lletra/I">I</a> <a href="/lletra/J">J</a> <a href="/lletra/L">L</a> <a href="/lletra/M">M</a> <a href="/lletra/N">N</a> <a href="/lletra/O">O</a> <a href="/lletra/P">P</a> <a href="/lletra/Q">Q</a> <a href="/lletra/R">R</a> <a href="/lletra/S">S</a> <a href="/lletra/T">T</a> <a href="/lletra/U">U</a> <a href="/lletra/V">V</a> <a href="/lletra/X">X</a> <a href="/lletra/Z">Z</a>
          </div>
        </div>
      {{- end -}}
    {{- end -}}
  </div>
  <footer class="mt-4">
    <div class="container text-center">
      <p><a href="//www.uab.cat"><img alt="Logo UAB" title="Universitat Autònoma de Barcelona" src="/uab.svg" width="150" height="56"></a></p>
      <p class="mt-4"><small>&copy; 2025 M.Teresa Espinal</small></p>
    </div>
  </footer>
  {{- /* Inline a minified version of js/main.js to avoid unnecessary HTTP requests */ -}}
  <script>(()=>{const t=document.querySelector(".navbar-toggler"),e=document.querySelector("#navbar-collapse");t.addEventListener("click",()=>{e.classList.toggle("show")})})();</script>
  {{- if .IsHomepage -}}
    {{/*
      search.min.js includes:
      - Custom code for the concept selector and search (js/search.js), including Tom Select dependency
      - Concept list (js/conceptes.json)
    */}}
    <script defer src="/search.min.js"></script>
  {{- end -}}
</body>
</html>
